@import 'main-partials/fonts';
@import 'main-partials/divider';
@import 'main-partials/body';
@import 'main-partials/title';
@import 'main-partials/p';
@import 'main-partials/subtitle';
@import 'main-partials/image';